.display-container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
}

.landingPage {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.landing-page-introduction {
  background: #000;
  color: #fff;
  padding: 40px 10%;
  line-height: 1.7;
  text-wrap: balance;
  font-size: 18px;
}
.landingPage h2 {
  font-weight: 500;
}

.landingPage-start-quiz br {
  display: none;
}
.landingPage-start-quiz h2 {
  font-weight: 500;
  line-height: 2;
}
.landingPage-start-quiz h2 span {
  color: #8d0303;
  font-weight: 600;
}

/* navbar */

.welcome-note {
  background-color: #f3f4f6;
  padding: 10px 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-note .logo-text {
  color: #8d0303;
  text-decoration: none;
}
.welcome-note .creative-image {
  transform: scaleX(-1);
}

.welcome-note p span {
  color: #8d0303;
}
.landing-page-color {
  margin-top: 0;
  margin-bottom: 10px;
}
