.container {
  height: 100vh;
}

.faq-container {
  padding: 30px;
  margin: 0 auto;
}
.answer-to-faq {
  padding: 20px 0;
  background: #f7f7fb;
}

.faq-container h1,
.question-number {
  margin-bottom: 50px;
  font-weight: 600;
  color: #0c0c0c;
}
.question-number {
  padding-bottom: 2px;
  font-weight: 600;
  border-bottom: 2px solid beige;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 30px;
}
.current-question-div {
  display: flex;

  height: 20vh;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 2px 2px 10px 0 #dad9d9;
}
.question {
  font-size: 1.5em;
  padding: 10px;
  line-height: 1.5;
}
button,
.retake-quiz,
.link {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px;
  background-color: #8d0303;
  border: none;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
}
button {
  width: 35%;
}
.buttons {
  margin-top: 50px;
}
.Wrong,
.Correct {
  color: red;
  width: 15%;
  margin: 0 auto;
  background-color: #ccc;
  padding: 5px;
  border-radius: 25px;
  font-weight: 500;
}
.Correct {
  color: green;
}

.display-answer {
  margin-top: 30px;
}
