@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
    margin-top: 40px;
  }
  .container {
    background-position: center;
    background-size: auto;
    height: 100vh;
    padding: 20px;
  }

  button {
    padding: 5px 15px;
  }
}
