@media (max-width: 480px) {
  .introduction-to-quiz {
    margin-bottom: 12%;
  }
  h1 {
    font-size: 1.6rem;
  }
  .landing-page-color h2,
  .category-body-container h2 {
    font-size: 1.3rem;
  }
  .question-div .question {
    font-size: 1.2em;
  }
  .display-answer .select-color {
    background-color: #fff;
    width: fit-content;
  }
  .buttons button {
    padding: 5px 15px;
    width: 80%;
  }

  div.landingPage-start-quiz br {
    display: block;
  }
  .startQuiz {
    display: none;
  }
}
